<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>

    <div class="card-body">
        <form action="/login" method="post">
            {{#if error}}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {{/if}}
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" class="form-control" id="password" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember Password</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/register">Need an account?</a>
            <a class="d-block small" href="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</div>
