<div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
        <form action="/register" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="firstName">First name</label>
                        <input name="firstName" class="form-control" id="firstName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Last name</label>
                        <input name="lastName" class="form-control" id="lastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="password">Password</label>
                        <input name="password" class="form-control" id="password" type="password" placeholder="Password">
                    </div>
                    <div class="col-md-6">
                        <label for="confirmPassword">Confirm password</label>
                        <input name="passwordConfirm" class="form-control" id="confirmPassword" type="password" placeholder="Confirm password">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/login">Have an account?</a>
            <a class="d-block small" href="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</div>
