{{#if success_message}}
    <div class="col-sm-12">
        <div class="alert alert-success" role="alert">
            {{success_message}}
        </div>
    </div>
{{/if}}

{{#if error}}
    <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>
{{/if}}

